body{
    margin:auto
}
a{
    text-decoration: none;
}
/*Header*/
header{
    height:60px;
    width:100%;
    /* border:2px groove red; */
    background-color: #d77440;
}

#icon{
    float:left;
    font-size:30px;
    margin-left: 1%;
    margin-top: 1%;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#social{
    float:right;
}

.slogo{
    height:50px;
    width:50px
}

/*Search*/
#search{
    height:400px;
    width:100%;
    /* border:2px groove green; */
    background-image: url('image/food-wallpaper.png');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 400px;; 
}
#content{
    height:350px;
    width:60%;
    /* border:2px groove white; */
    margin-left: 19%;
    margin-top: 2%;
    position:absolute
}

#logo{
    height:150px;
    width:150px;
    border-radius: 50%;
    margin:auto;
    background-color:rgba(255, 255, 255, 60%)
}

#logo>span{
    font-size:80px;
    position: absolute;
    margin-left: 3%;
    margin-top: 2%;
}

#heading{
    font-size:50px;
    margin-left: 28%;
    color:white
}
.dropdown{
    height:60px;
    width:60%;
    position: absolute;
    margin-top: 4%; 
    margin-left: 25%; 
}
select{
    height:60px;
    width:40%;
    font-size:20px;
    text-align: center;
}
.restSelect{
    width:55%;
}
/*QuickSearch*/
#quickSearch{
    width:80%;
    margin-left: 10%;
    margin-top:2%;
    display: inline-block
}
#quickHeading{
    display: block;
    font-size:30px;
    color: #d77440;
    font-weight: bold;
    margin-left:2%;
}
#quickSubHeading{
    display: block;
    font-size:20px;
    color: gray;
    line-height: 2;
    margin-left:2%;
}
.tileContainer{
    width:30%;
    height:180;
    /* border:2px groove black; */
    box-shadow: 10px 20px 10px #cf9983;
    float:left;
    margin-left:2%;
    margin-top:2%;
}
.tileComponent1{
    width:50%;
    float:left;
    height:180px;
}
.tileComponent1 >img {
    width:100%;
    height:180px
}
.tileComponent2{
    width:45%;
    margin-left: 5%;
    margin-top: 14%;
    float:left
}
.componentHeading > a{
    color:#d77440;
    font-size:25px
}

.componentSubHeading{
    color:gray;
    font-size:20px;
}

/*Footer*/
footer{
    margin-top:2%;
    height:120px;
    width:100%;
   background-color: #f8ab81;;
}

#footText{
    text-align: center;
}

.footDiv{
    height:70px;
    width:33%;
    float:left;
    text-align:center;
    border-right: 2px solid black;
}

.noborder{
    border:none
}