body{
    margin:auto
}
a{
    text-decoration: none;
}
/*Header*/
header{
    height:60px;
    width:100%;
    /* border:2px groove red; */
    background-color: #d77440;
}

#icon{
    float:left;
    font-size:30px;
    margin-left: 1%;
    margin-top: 1%;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#social{
    float:right;
}

.slogo{
    height:50px;
    width:50px
}

/*Search*/
#content{
    display:inline-block;
    width:80%;
    height:650px;
    margin-left: 10%;
    margin-top: 2%;
}

#imgDiv{
    height:450px;
    width:45%;
    float:left;
    border:8px groove gray;
    margin-top:5%
}

#imgDiv > img{
    height:450px;
    width:100%;
}

#contentDiv{
    height:600px;
    width:45%;
    float:left;
    margin-left: 5%;
    margin-top: 2%;
}

.feature_container{
    width:98%;
    display: inline-block;
    margin-left:-8%
}
figure{
    float:left;
    width:85px;
    height:85px
}
h2{
    color:green;
    font-size:35px
}
.btn-details{
    height:50px;
    width:200px;
    font-size:20px;
    background-color:#f8ab81
}

.checked{
    font-size:20px;
    color:red
}
/*Footer*/
footer{
    margin-top:2%;
    height:120px;
    width:100%;
   background-color: #f8ab81;;
}

#footText{
    text-align: center;
}

.footDiv{
    height:70px;
    width:33%;
    float:left;
    text-align:center;
    border-right: 2px solid black;
}

.noborder{
    border:none
}